name: Linting with golangci-lint
on:
  push:
    branches:
      - master
    paths:
      - "commands/**.go"
      - "internal/**/*.go"
      - "pkg/**/*.go"
      - "cmd/*/*.go"
      - "go.*"
  pull_request:
jobs:
  golangci:
    strategy:
      matrix:
        go-version: [1.16.x]
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: golangci-lint
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
          args: --issues-exit-code=0 --new=true --sort-results --skip-dirs-use-default --tests=false --presets=bugs,complexity,format,performance,style,unused
